    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
    }
    h1,h2,h3,h4,h5,h6,p{
        line-height: 0.8;
    }
    ul,ol{
        list-style-type: none;
    }
    /* ------------------------------------------------ */
    .container{
        width: 1280px;
        margin: 0 auto;
        padding: 100px 250px;
    }
    .items_wrapper{
        width: 400px;
        background-color: rgba(140, 244, 244, 0.82);
        padding: 25px 20px;
        border-radius: 8px;
        margin: 0 auto;
    }
    .items_wrapper form{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    .form_group input{
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 0;
        outline: none;
    }
    .form_group button{
        padding: 15px;
        width: 100%;
        border-radius: 15px;
        font-size: 18px;
        margin-top: 10px;
        border: 0;
        outline: none;
        box-shadow: -1px -1px 1px 3px rgba(255,255,255,0.75);
    }
    .form_group p{
        text-transform: capitalize;
        color: rgb(255, 0, 0);
    }